################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ACSSamples/.vs/ACSSamples/FileContentIndex
/ACSSamples/.vs/ACSSamples/v17
